/** General Styles **/
.path-mod-chat .chat-event .picture,
.path-mod-chat .chat-message .picture {
    width: 40px;
}

.path-mod-chat .chat-event .text {
    text-align: left;
}

.path-mod-chat #messages-list,
.path-mod-chat #users-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.path-mod-chat #chat-header {
    overflow: hidden;
}

.path-mod-chat #chat-input-area table.generaltable td.cell {
    padding: 1px;
}

/** shrink the text box so the theme link is always accessible */

@media all and (max-device-width: 320px) {
    .path-mod-chat #input-message {
        width: 150px;
    }
}

@media all and (min-device-width: 321px) and (max-device-width: 640px) {
    .path-mod-chat #input-message {
        width: 175px;
    }
}

/** styles for view.php **/
#page-mod-chat-view .chatcurrentusers .chatuserdetails {
    vertical-align: middle;
}

/** Styles for basic chat **/
#page-mod-chat-gui_basic #participants ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#page-mod-chat-gui_basic #participants ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}

#page-mod-chat-gui_basic #participants ul li .userinfo {
    display: inline;
}

#page-mod-chat-gui_basic #messages {
    padding: 0;
    margin: 0;
}

#page-mod-chat-gui_basic #messages dl {
    padding: 0;
    margin: 6px 0;
}

#page-mod-chat-gui_basic #messages dt {
    margin-left: 0;
    margin-right: 5px;
    padding: 0;
    display: inline;
}

#page-mod-chat-gui_basic #messages dd {
    padding: 0;
    margin: 0;
}

/** Styles for header **/
#page-mod-chat-gui_header_js-jsupdate .chat-event,
#page-mod-chat-gui_header_js-jsupdate .chat-message {
    width: 100%;
}

/** YUI Overrides **/
.path-mod-chat .yui-layout-unit-top {
    background: #ffe39d;
}

.path-mod-chat .yui-layout-unit-right {
    background: #fff;
}

.path-mod-chat .yui-layout-unit-bottom {
    background: #fff;
}

.path-mod-chat .yui-layout .yui-layout-hd {
    border: 0;
}

.path-mod-chat .yui-layout .yui-layout-unit div.yui-layout-bd {
    border: 0;
    background: transparent;
}

.path-mod-chat .yui-layout .yui-layout-unit div.yui-layout-unit-right {
    background: white;
}

/** Styles taken from Boost theme when moving the plugin out of Moodle core **/

#page-mod-chat-gui_basic input#message {
    max-width: 100%;
}

.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax {
    background-color: #fff;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit div.yui-layout-bd-nohd,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit div.yui-layout-bd-noft,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit div.yui-layout-bd,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-right,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-bottom {
    border: 0;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-right,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-bottom {
    border-radius: 0;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit div.yui-layout-bd {
    background-color: transparent;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit.yui-layout-unit-center div.yui-layout-bd {
    background-color: #f8f9fa;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-input-area.py-3 {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-input-area table.generaltable,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-input-area table.generaltable td.cell {
    border: 0;
    padding: 3px 15px;
    white-space: nowrap;
    margin-bottom: 0;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-userlist {
    padding: 10px 5px;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-userlist #users-list {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #fff;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-userlist #users-list li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 10px;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-userlist #users-list img {
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: none;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages {
    margin: 20px 25px;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-event.course-theme {
    text-align: center;
    margin: 10px 0;
    font-size: 0.8203125rem;
    color: #495057;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme {
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme .time {
    float: right;
    font-size: 11px;
    color: #495057;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme {
    background-color: #fff;
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme .user {
    font-weight: bold;
}
